.q-region {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
    "top top top top top"
    "top_resizer top_resizer top_resizer top_resizer top_resizer"
    "left left_resizer center right_resizer right"
    "bottom_resizer bottom_resizer bottom_resizer bottom_resizer bottom_resizer"
    "bottom bottom bottom bottom bottom";
}

.q-region .q-region-top {
  grid-area: top;
  overflow: visible;
}

.q-region .q-region-center {
  grid-area: center;
  overflow: auto;
}

.q-region .q-region-bottom {
  grid-area: bottom;
  overflow: visible;
}